@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-family: "Karla", sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fafafa;
  width: 600px;
  height: 600px;
  border: 2px solid white;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #f8f8f8;
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}
